.hero {
  margin-top: 105px;
  padding-bottom: 100px;
  h1 {
    margin-top: 150px;
    font-size: rem(40px);
    font-weight: 800;
    color: $main-black;
    max-width: 350px;
    width: 100%;
  }
  p {
    font-size: rem(16px);
    font-weight: 500;
    margin-top: 50px;
    max-width: 400px;
    width: 100%;
    padding-left: 40px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      height: 50%;
      width: 100%;
      border-left: 2px solid $main-purple;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .buttons {
    margin-top: 65px;
  }
}

#eztad5pxjoho8_to {
  animation: eztad5pxjoho8_to__to 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho8_to__to {
  0% {
    transform: translate(437px, 304px);
  }
  2% {
    transform: translate(483.35993px, 300.536283px);
  }
  100% {
    transform: translate(549px, 316.567106px);
  }
}
#eztad5pxjoho8_tr {
  animation: eztad5pxjoho8_tr__tr 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho8_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  2% {
    transform: rotate(11deg);
  }
  100% {
    transform: rotate(27deg);
  }
}

#eztad5pxjoho8 {
  animation: eztad5pxjoho8_c_o 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho8_c_o {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#eztad5pxjoho9_to {
  animation: eztad5pxjoho9_to__to 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho9_to__to {
  0% {
    transform: translate(426.089653px, 261.5px);
  }
  2% {
    transform: translate(483.934833px, 223.767587px);
  }
  100% {
    transform: translate(568.864762px, 192.328124px);
  }
}
#eztad5pxjoho9_tr {
  animation: eztad5pxjoho9_tr__tr 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho9_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(27deg);
  }
}
#eztad5pxjoho9 {
  animation: eztad5pxjoho9_c_o 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho9_c_o {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#eztad5pxjoho10_to {
  animation: eztad5pxjoho10_to__to 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho10_to__to {
  0% {
    transform: translate(277.5px, 352.834709px);
  }
  2% {
    transform: translate(114.823575px, 237.240929px);
  }
  100% {
    transform: translate(64px, 235.536283px);
  }
}
#eztad5pxjoho10_tr {
  animation: eztad5pxjoho10_tr__tr 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho10_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
#eztad5pxjoho10_ts {
  animation: eztad5pxjoho10_ts__ts 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho10_ts__ts {
  0% {
    transform: scale(0, 0);
  }
  2% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
#eztad5pxjoho10 {
  animation: eztad5pxjoho10_c_o 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho10_c_o {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0, 0, 0.435, 1.34);
  }
  2% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#eztad5pxjoho11_to {
  animation: eztad5pxjoho11_to__to 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho11_to__to {
  0% {
    transform: translate(260.156842px, 254.5px);
  }
  2% {
    transform: translate(209.198885px, 181px);
  }
  100% {
    transform: translate(189.028027px, 156px);
  }
}
#eztad5pxjoho11_ts {
  animation: eztad5pxjoho11_ts__ts 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho11_ts__ts {
  0% {
    transform: scale(0, 0);
  }
  2% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
#eztad5pxjoho11 {
  animation: eztad5pxjoho11_c_o 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho11_c_o {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#eztad5pxjoho12_to {
  animation: eztad5pxjoho12_to__to 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho12_to__to {
  0% {
    transform: translate(369px, 223px);
  }
  2% {
    transform: translate(412.369745px, 142.5px);
  }
  100% {
    transform: translate(473.14931px, 95.233922px);
  }
}
#eztad5pxjoho12_tr {
  animation: eztad5pxjoho12_tr__tr 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho12_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(28deg);
  }
}
#eztad5pxjoho12 {
  animation: eztad5pxjoho12_c_o 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho12_c_o {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#eztad5pxjoho13_to {
  animation: eztad5pxjoho13_to__to 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho13_to__to {
  0% {
    transform: translate(319.507007px, 215px);
  }
  2% {
    transform: translate(329px, 113px);
  }
  100% {
    transform: translate(360px, 56.733922px);
  }
}
#eztad5pxjoho13_ts {
  animation: eztad5pxjoho13_ts__ts 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho13_ts__ts {
  0% {
    transform: scale(0, 0);
  }
  2% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
#eztad5pxjoho13 {
  animation: eztad5pxjoho13_c_o 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho13_c_o {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#eztad5pxjoho14_to {
  animation: eztad5pxjoho14_to__to 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho14_to__to {
  0% {
    transform: translate(145.662806px, 108px);
  }
  2% {
    transform: translate(116.198885px, 74px);
  }
  100% {
    transform: translate(77.680806px, 28.781023px);
  }
}
#eztad5pxjoho14 {
  animation: eztad5pxjoho14_c_o 10000ms linear normal forwards;
}
@keyframes eztad5pxjoho14_c_o {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
