.contact {
    background-image: url("/images/bg.svg");
}

.via-email {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 64px 20px rgb(57 47 86 / 8%);
}

.via-fiverr {
    border-radius: 17px;
    background: linear-gradient(
            0deg,
            rgba(10, 20, 107, 0.95),
            rgba(73, 73, 216, 0.74)
        ),
        url(https://cdn.pixabay.com/photo/2015/11/17/18/59/architecture-1048092_960_720.jpg);
    background-size: cover;
    background-position: 50%;
}
.fiverr-card {
    background: #1dbf73;
    height: 107px;
    width: 100%;
    max-width: 320px;
    border-radius: 8px;
    box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.07);
    .image {
        height: 68px;
        width: 68px;
        overflow: hidden;
        border-radius: 100%;
        flex-shrink: 0;
        img {
            width: 100%;
        }
    }
    .name {
        h3 {
            font-size: rem(20px);
            font-weight: 600;
            color: white;
        }
        img {
            margin-right: 5px;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        color: white;
        font-size: 23px;
        margin-left: 25px;
    }
    &:hover {
        .icon {
            animation: arrowRight 1.2s cubic-bezier(0, -0.26, 0.03, 1.16)
                infinite;
        }
    }
}

@keyframes arrowRight {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}
